

stages:          
  - build
  - test
  - publish
  - release



Maven Build:       # This job runs in the build stage, which runs first.
  stage: build
  script:
    - echo "Compiling, packaging & installing ..."
    - mvn clean install -DskipTests
    - echo "Compile, package & install in local m2 repo completes."
  artifacts:
    untracked: false
    when: on_success
    access: all
    expire_in: 7 days
    paths:
      - "**/target/**.jar"
  tags:
   - shell-build



Maven Test:   
  stage: test    
  script:
    - echo "Running unit tests..."
    - mvn clean test -P test
  tags:
   - shell-build



Maven Deploy:
  stage: publish
  script:
    - echo "Publishing artifacts"
    - mvn clean deploy -DskipTests
  tags:
   - shell-build





Maven Release:
  stage: release
  script:
    - echo "Releasing.."

    - PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed 's/-SNAPSHOT//')
    - ReleaseTagName="v${ROJECT_VERSION}"

    - mvn release:clean
    - mvn release:prepare -DreleaseVersion=${PROJECT_VERSION} -Dtag=${ReleaseTagName} -Dusername=devopswithprashant -Dpassword=***REMOVED*** -Darguments=-DskipTests -P prod -B
    - mvn release:perform -Dusername=devopswithprashant -Dpassword=***REMOVED*** -Darguments=-DskipTests -P prod -B
  
  when: manual
  tags:
    - shell-build













